@model MIS.ViewModels.IndexPageViewModel;
@{
    ViewData["Title"] = "Index";
}

<header>
    <img src="~/images/header-pic.png" alt="Header" class="header-img" />
    <h1>Головна сторінка</h1>
</header>
<main>
    <section class="login-system">
        @if(User.IsInRole("owner")){
            <a href="~/Home/OwnerPage" class="a-link">Кабінет головного лікаря</a>
        }
        
        @if(User.IsInRole("user")){
            
            if(Model.User.Declarations == null){
                <div class="register-links">
                    <a href="~/Home/ChooseDoctor" class="a-link declaration-reg">Зареєструвати декларацію</a>
                </div>
            } else{
                <a href="~/Home/Appointment" class="a-link">Записатися на прийом</a>
            }
            <div class="register-links">
                <a href="~/Home/UserPage" class="a-link">Сторінка клієнта</a>
            </div>
        }
        @if(User.IsInRole("admin")){
            <a href="User" class="a-link">Адміністрування</a>
        }
        @if(User.IsInRole("doctor")){
            <a href="~/Home/DoctorPage" class="a-link">Сторінка лікаря</a>
        }
       
    </section>
    <section class="news-list">
        <div class="news-section">
            <div class="news-text">
                <h3>ПРОФІЛАКТИКА</h3>
                <p class="text">
                    11 травня українці зможуть безоплатно перевірити здоров’я ясен у
                    понад 300 клініках
                </p>
                <p class="time">07.05.2018</p>
                <a href="" class="read-more">Читати далі..>>></a>
            </div>
            <img src="~/images/Health.png" alt="" class="news-image" />
        </div>
    </section>
</main>

